<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components/header/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"/>
    <!-- <link rel="stylesheet" href="/assets/css/main.css"/> -->
    <link rel="stylesheet" href="../../assets/css/styles.css">
    $CSS_LINKS$
    <title>$TAB-TITLE$</title>
</head>
<body>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Dropdown 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/uge1">Uge 1</a>
              <a href="/uge2">Uge 2</a>
              <a href="/uge3">Uge 3</a>
              <a href="/uge4">Uge 4</a>
              <a href="/uge5">Uge 5</a>
              <a href="/uge6">Uge 6</a>
              <a href="/uge7">Uge 7</a>
              <a href="/uge8">Uge 8</a>
            </div>
          </div> 

    </nav>

    <main>