.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #cad4df;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

     .vs{
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%;
      }
      .fronttext 
      {
        max-width: 100%;

      }
      .content-container{
        height:100vh;
      }
      .content-container {
        min-height: 100%;
     
        box-sizing: border-box;

        padding-bottom: 100px; 
    }
        .svg-container {
            flex: 0 0 auto;
            margin-right: 10px;
        }

        .dropdown-menu {
            flex: 1 1 auto;
        }
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #0e2434;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0b1a24;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.outline {
  border-bottom: 1px solid white;
}

footer {
  margin-top: auto; 
  width:100%;
  display: flex;
  justify-content: space-between;
  text-align: center; 
  align-items: center;
  padding: 20px 0; 
}

.social-menu {
  position: relative;
}

.social-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0; 
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li a:hover{
  background-color: rgba(0, 0, 0, 0.829);
}
